<%= form_for([tool.link, tool]) do |f| %>
  <% if tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
      <% tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form_container">
  <div class="field" style="height:100%; padding: 20px 0;">
    <div class="form-title">Title</div>
    <div class="form-input" style="margin-bottom:10px;"><%= f.text_field :tool, placeholder:"Enter the name of your link" %></div>
    <div class="form-title">URL</div>
    <div class="form-input"><%= f.text_field :link_url, placeholder:"Paste the URL" %></div>
  </div>
  <div style="clear:both"></div>
  <div class="actions">
     <%= f.submit 'Save Changes' %>
  </div>
</div>

<% end %>
