<%= form_for(todo_app_list) do |f| %>
  <% if todo_app_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_app_list.errors.count, "error") %> prohibited this todo_app_list from being saved:</h2>

      <ul>
      <% todo_app_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form_container">

  <div class="field">
    <div class="form-title">Task title</div>
    <div class="form-input"><%= f.text_field :title, placeholder:"Title of the project" %></div>
    <div class="task-status">
      <div class="form-title" style="width:100%;">Task Status</div>
      <div class="select-pending">
        <div class="radio_todo"><%= f.radio_button :status, 'pending', checked:"checked" %></div>
        <div class="tag_todo"><%= f.label :status, 'Pending' %></div>
      </div>
      <div class="select-progress">
        <div class="radio_todo"><%= f.radio_button :status, 'progress' %></div>
        <div class="tag_todo"><%= f.label :status, 'Progress' %></div>
      </div>
      <div class="select-completed">
        <div class="radio_todo"><%= f.radio_button :status, 'completed' %></div>
        <div class="tag_todo"><%= f.label :status, 'Completed' %></div>
      </div>
    </div>
  </div>

  <div class="actions">
     <%= f.submit 'Save Changes' %>
  </div>

</div>

<% end %>
