<%= form_for(todo_app_list) do |f| %>
  <% if todo_app_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_app_list.errors.count, "error") %> prohibited this todo_app_list from being saved:</h2>

      <ul>
      <% todo_app_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form_container">

  <div class="field">
    <div class="form-title">Project Title</div>
    <div class="form-input"><%= f.text_field :title, placeholder:"Title of the project" %></div>
    <div class="task-status" style="height:100%; width:100%; clear: both;">
      <div class="form-title" style="width:100%;">Status</div>
      <div class="selected pending" style="padding:10px 20px 10px 20x; float:left;">
        <%= f.radio_button :status, 'pending', checked:"checked", type:"radio" %>
        <%= f.label :status, 'Pending' %>
        <div class="check"></div>
      </div>
      <div class="selected progress" style="padding:10px 20px 10px 20x; float:left;">
        <%= f.radio_button :status, 'progress' %>
        <%= f.label :status, 'Progress' %>
        <div class="check"></div>
      </div>
      <div class="selected completed" style="padding:10px 20px 10px 20x; float: left;">
        <%= f.radio_button :status, 'completed' %>
        <%= f.label :status, 'Completed' %>
        <div class="check"></div>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
  <div class="actions">
     <%= f.submit 'Save Changes' %>
  </div>

</div>

<% end %>
