<%= form_for(todo_app_list) do |f| %>
  <% if todo_app_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_app_list.errors.count, "error") %> prohibited this todo_app_list from being saved:</h2>

      <ul>
      <% todo_app_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="field_title_todo">Task title</div>
    <div><%= f.text_field :title %></div>
    <div class="task_status">
      <div class="field_title_todo" style="width:100%;">Task Status</div>
      <div>
        <div class="radio_todo"><%= radio_button_tag(:task, "Pending") %></div>
        <div class="tag_todo"><%= label_tag(:task_pending, "Pending") %></div>
      </div>
      <div>
        <div class="radio_todo"><%= radio_button_tag(:task, "In progress") %></div>
        <div class="tag_todo"><%= label_tag(:task_progress, "In progress") %></div>
      </div>
      <div>
        <div class="radio_todo"><%= radio_button_tag(:task, "Sent") %></div>
        <div class="tag_todo"><%= label_tag(:task_sent, "Sent") %></div>
      </div>
    </div>
  </div>

  <div class="actions">
     <%= f.submit 'Create' %>
  </div>
<% end %>
