<%= form_for(todo_app_list) do |f| %>
  <% if todo_app_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_app_list.errors.count, "error") %> prohibited this todo_app_list from being saved:</h2>

      <ul>
      <% todo_app_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="t">Task title</div>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
     <%= f.submit %>
  </div>
<% end %>
