<div class="wrapper">
<!--p id="notice"><%= notice %></p-->

<h1 class="title_todo">Projects</h1>

<table class="table_todo">
  <thead>
    <tr>
      <th>This week</th>
      <th colspan="3" style="text-align:center;">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @todo_app_lists.each do |todo_app_list| %>
      <tr>
        <td><a class="task" href="<%= todo_app_list_path(todo_app_list) %>"><%= todo_app_list.title %></a><span class="label_<%= todo_app_list.status %>"><%= todo_app_list.status %></span></td>
        <td><%= link_to 'Edit', edit_todo_app_list_path(todo_app_list) %></td>
        <td><%= link_to 'Remove', todo_app_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="button_todo"><%= link_to 'Create New Project Task', new_todo_app_list_path %></div>

<div class="priorities_all">
  <h1 class="title_todo">Priority Tasks</h1>
  <div>
  <% @todo_app_lists.each do |todo_app_list| %>
      <div class="task_container">
      <div class="prior_project"><%= todo_app_list.title %></div>
        <% todo_app_list.tasks.priorities.each do |task| %>
          <div class="task">
            <div class="detail"><%= task.content %></div>
            <div class="action">
                  <div class="icon_<%= task.priority %>">
                    <i class="material-icons md-18">priority_high</i>
                  </div>
                <%= link_to 'Done', todo_app_list_task_path(todo_app_list, task), method: :delete %>

            </div>
          </div>
        <% end %>
      </div>
  <% end %>
  </div>
</div>

</div>
