

<div class="wrapper">

<h1 class="title_todo">Detail</h1>

<div class="box_todo">
  <div class="update_todo">
    <a href="<%= edit_todo_app_list_path(@todo_app_list) %>">
      <div class="detail_todo"><%= @todo_app_list.title %></div>
    </a>
  </div>
  <div class="show_label">
    <span class="label_<%= @todo_app_list.status %>"><%= @todo_app_list.status %></span><%= link_to 'Edit Status', edit_todo_app_list_path(@todo_app_list) %>
  </div>

  <div class="task_container">
    <% @todo_app_list.tasks.each do |task| %>
      <div class="task">
        <div class="detail"><%= task.content %></div>
        <div class="action">
            <%= link_to toggle_todo_app_list_task_path(@todo_app_list, task), method: :put do %>
              <div class="icon_<%= task.priority %>">
                <i class="material-icons md-18">priority_high</i>
              </div>
            <% end %>
            <%= link_to 'Done', todo_app_list_task_path(@todo_app_list, task), method: :delete %>

        </div>
      </div>
    <% end %>

    <%= render 'tasks/form_task', task: Task.new(todo_app_list: @todo_app_list) %>

  </div>
</div>
<%= link_to 'Back', todo_app_lists_path %>



</div>
