<%= form_for :session, url: session_path do |form| %>

<div class="user-form-fields">
  <div><%= form.text_field :email, type: 'email', placeholder: "Email address" %></div>
  <div><%= form.text_field :password, placeholder: "Your password", type: "password" %></div>
  <div class="forgot-password">
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
</div>

<div class="actions-session">
  <%= form.submit 'Confirm Access' %>
</div>


<% end %>
