<%= form_for(note) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_container">
    <div class="field" style="height:100%; padding: 20px 0;">
      <div class="form-title">Note Title</div>
      <div class="form-input" style="margin-bottom:10px;" id="link-note-field-name-<%= note.id %>"><%= f.text_field :noteTitle, placeholder: "Your note title here", class:"inputField" %></div>
      <div class="form-title">Description</div>
      <div class="form-input" id="link-note-field-desc-<%= note.id %>"><%= f.text_field :noteDescription, placeholder: "Be short!", class:"inputField" %></div>
    </div>

    <div style="clear:both"></div>
    <div id="note-actions-<%= note.id %>" class="actions">
       <%= f.submit 'Save Changes' %>
    </div>
    <div class="cancel-actions"><%= link_to 'Cancel', notes_path %></div>
    <!-- Showing Input when validates Project Title -->
    <script>
      var inputNoteName = document.getElementById("link-note-field-name-<%= note.id %>").getElementsByClassName("inputField")[0];
      inputNoteName.onkeyup = function() {
        var value = this.value;
        if (value && value.length > 0) {
          document.getElementById("note-actions-<%= note.id %>").classList.add("show-inline");
        } else {
          document.getElementById("note-actions-<%= note.id %>").classList.remove("show-inline");
        }
      }
      var inputNoteDesc = document.getElementById("link-note-field-desc-<%= note.id %>").getElementsByClassName("inputField")[0];
      inputNoteDesc.onkeyup = function() {
        var value = this.value;
        if (value && value.length > 0) {
          document.getElementById("note-actions-<%= note.id %>").classList.add("show-inline");
        } else {
          document.getElementById("note-actions-<%= note.id %>").classList.remove("show-inline");
        }
      }
    </script>
  </div>

<% end %>
