<div class="wrapper">

  <div class="box_todo">
    <div class="update=todo">
      <div class="detail_todo"><%= @note.noteTitle %></div>
    </div>

    <div class="task_container">
      <% @note.notes_lists.each do |notes_list| %>
      <div class="note_box">
        <div class="note_title" style="font-weight:500; padding-bottom:10px; font-size:15px;"><%= notes_list.codeTitle %></div>
        <div class="note_detail"><%= notes_list.code %></div>
        <div class="note_clear"><%= link_to 'Clear', note_notes_list_path(@note, notes_list), method: :delete %></div>
      </div>
      <% end %>

      <%= render 'notes_lists/form_new_note', notes_list: NotesList.new(note: @note) %>

    </div>

  </div>

  <%= link_to 'Edit', edit_note_path(@note) %> |
  <%= link_to 'Back', notes_path %>

</div>
