<%= form_for([task.todo_app_list, task]) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_app_list.errors.count, "error") %> prohibited this todo_app_list from being saved:</h2>

      <ul>
      <% todo_app_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_task">
    <div id="textarea-task-<%= task.todo_app_list.id %>"><%= f.text_area :content, placeholder: "Your new task here", rows: 1, class: "textarea-tasks" %></div>
    <div id="action-task-<%= task.todo_app_list.id %>" class="actions_task">
       <%= f.submit 'Add Task' %>
    </div>
    <script>
      var taskInput = document.getElementById("textarea-task-<%= task.todo_app_list.id %>").getElementsByClassName("textarea-tasks")[0];
      taskInput.onclick = function() {
        document.getElementById("action-task-<%= task.todo_app_list.id %>").classList.toggle("show");
      }
    </script>
  </div>


<% end %>
