<div class="user-header">
  <a href="<%= root_path %>"><%= image_tag("logo.svg") %></a>
</div>
<div class="user-container">
  <div class="user-content">
    <div class="user-tabs">
      <div class="non-active" style="float:left;">
        <%= link_to 'Sign In', sign_in_path %>
      </div>
      <div class="active" style="float:right;">
        Sign Up
      </div>
    </div>
    <div class="user-form">
      <h1 class="title-session">Create your account</h1>
      <div class="description-session">Complete all the following fields. Just one step.</div>
      <div class="form-session">
        <%= form_for @user do |form| %>
          <%= render partial: '/users/form', object: form %>
          <div class="actions-session">
              <%= form.submit 'Confirm Registration' %>
          </div>
        <% end %>
      </div>
    </div>
  <div class="user-footer">
    <p>Do you have an account? <%= link_to t(".sign_in"), sign_in_path %></p>
  </div>
  </div>
</div>
