<%= form_for([notes_list.note, notes_list]) do |f| %>
  <% if notes_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this notes_list from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_new_note">
    <div class="field_title">New Note</div>
    <div class="field_note"><%= f.text_field :codeTitle, placeholder: "Write your topic here" %></div>
    <div class="text_area"><%= f.text_area :code, placeholder: "Insert your note" %></div>
    <div class="actions">
      <%= f.submit 'Create Note' %>
    </div>
  </div>


<% end %>
