<%= form_for([notes_list.note, notes_list]) do |f| %>
  <% if notes_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this notes_list from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="note-form-container">
    <ul class="notes-navbar notes-navbar-style">
      <li><a href="javascript:void(0)" class="tablink formNote-active" onClick="openForm(event, 'formText');">Text Field</a></li>
      <li><a href="javascript:void(0)" class="tablink" onClick="openForm(event, 'formSnippet');">Code Snippet</a></li>
      <li><a href="javascript:void(0)" class="tablink" onClick="openForm(event, 'formEmbed');">Embed</a></li>
    </ul>
    <!-- Types of forms: Text -->
    <div id="formText" class="noteForm-container noteForm" style="display:block">
      <div class="field" style="border-top: 0px; border-bottom: 0px; height:100%; padding: 0;">
        <div class="form-title">Text title</div>
        <div class="form-input" style="margin-bottom:10px;"><%= f.text_field :txtTitle, placeholder: "Optional" %></div>
        <div class="form-title">Text</div>
        <div class="form-input"><%= f.text_area :txt, placeholder: "Insert your text" %></div>
      </div>
      <div style="clear:both"></div>
    </div>
    <!-- Types of forms: Snippet -->
    <div id="formSnippet" class="noteForm-container noteForm" style="display:none">
      <div class="field" style="border-top: 0px; border-bottom: 0px; height:100%; padding: 0;">
        <div class="form-title">Snippet title</div>
        <div class="form-input" style="margin-bottom:10px;"><%= f.text_field :codeTitle, placeholder: "Optional" %></div>
        <div class="form-title">Code</div>
        <div class="form-input"><%= f.text_area :code, placeholder: "Insert code snippet" %></div>
      </div>
      <div style="clear:both"></div>
    </div>
    <!-- Types of forms: Embed -->
    <div id="formEmbed" class="noteForm-container noteForm" style="display:none">
      <div class="field" style="border-top: 0px; border-bottom: 0px; height:100%; padding: 0;">
        <div class="form-title">Embed Object Title</div>
        <div class="form-input" style="margin-bottom:10px;"><%= f.text_field :embedTitle, placeholder: "Optional" %></div>
        <div class="form-title">Embed Code</div>
        <div class="form-input"><%= f.text_area :embed, placeholder: "Paste here" %></div>
      </div>
      <div style="clear:both"></div>
    </div>
    <!-- Send action -->
    <div class="actions" style="display: block;">
      <%= f.submit 'Save Changes' %>
    </div>
    <!-- Js -->
    <script>
      function openForm(evt, formName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("noteForm");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" formNote-active", "");
        }
        document.getElementById(formName).style.display = "block";
        evt.currentTarget.className += " formNote-active";
      }
    </script>

  </div>


<% end %>
