<p id="notice"><%= notice %></p>

<h1>Notes Lists</h1>

<table>
  <thead>
    <tr>
      <th>Codetitle</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes_lists.each do |notes_list| %>
      <tr>
        <td><%= notes_list.codeTitle %></td>
        <td><%= notes_list.code %></td>
        <td><%= link_to 'Show', notes_list %></td>
        <td><%= link_to 'Edit', edit_notes_list_path(notes_list) %></td>
        <td><%= link_to 'Destroy', notes_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notes List', new_notes_list_path %>
