<div class="wrapper">

<h1 class="title_todo"><%= @board.board_title %></h1>

  <div class="box_board">

    <div class="box_messages">

      <% @board.messages.each do |message| %>

      <div class="message">
        <div class="message_author">Author<span>at <%= message.created_at.to_date %></span><a class="icon_fav"><i class="material-icons md-18">whatshot</i><span class="tooltip">Add to favorites</span></a></div>
        <div class="message_content"><%= message.content %></div>
      </div>

      <% end %>

      <%= render 'messages/form_message', message: Message.new(board: @board) %>

    </div>

    <div class="box_favorites">
      <div class="favorites_title">Favorites</div>
      <div class="favorites_content">
        <div class="message_author">Author</div>
        <div class="message_content">Hello, welcome to doable, this a personal tool to improve our producitivity, also as a board section where we can discuss about topics and the value messages can be storaged at the right of the screen...</div>
      </div>
    </div>

    <div style="clear:both"></div>

  </div>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>

</div>
